*.log
Project_Exposure/Library/
Project_Exposure/.vs/
*.csproj
*.cache
Project_Exposure/Temp/
Project_Exposure/obj/
Project_Exposure/Assets/FMOD/Metadata/
Project_Exposure/Assets/Allegorithmic/Plugins/Substance/Substance Source/Editor/.SourceCache/

Project_Exposure/Assets/Plugins/FMOD/Resources/FMODStudioCache.asset
