*.log
Project_Exposure/Library/
Project_Exposure/.vs/
*.csproj
*.cache
Project_Exposure/Temp/
Project_Exposure/obj/
Project_Exposure/Assets/FMOD/Metadata/
Project_Exposure/Assets/Allegorithmic/Plugins/Substance/Substance Source/Editor/.SourceCache/

Project_Exposure/Assets/Plugins/FMOD/Resources/FMODStudioCache.asset
Project_Exposure/Assets/Plugins/FMOD/Resources/
Project_Exposure/Assets/FMOD/Assets/glassplaceholder1.flac.meta~d6e1c556bd136ce1b8a5e6e5231ae90842a563a4.meta
Project_Exposure/Assets/FMOD/Assets/glassplaceholder1.flac.meta~d6e1c556bd136ce1b8a5e6e5231ae90842a563a4.meta~64a98053aa6e21dae8bab73892869ef71d94bf72.meta
Project_Exposure/Assets/FMOD/Assets/glassplaceholder1.flac.meta~d6e1c556bd136ce1b8a5e6e5231ae90842a563a4.meta~HEAD.meta
