*.log
*.csproj
*.cache
Project_Exposure/Library/
Project_Exposure/.vs/
Project_Exposure/Temp/
Project_Exposure/obj/
Project_Exposure/Assets/Allegorithmic/Plugins/Substance/Substance Source/Editor/.SourceCache/
Project_Exposure/Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset
Project_Exposure/Assets/Plugins/FMOD/Resources/FMODStudioSettings.asset.meta
